<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="icon" type="image/png" href="/i/favicon.jpg">
        <link rel="stylesheet" href="/css/amazeui.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/admin.css">
        <script src="/js/amaze/jquery-3.3.1.js"></script>
        <script src="/js/amaze/amazeui.min.js"></script>
        <script src="/js/load.js"></script>
    </head>

    <body>
        <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
            <div class="am-offcanvas-bar admin-offcanvas-bar">
                <ul class="am-list admin-sidebar-list">
                    <li><a id="int">配置接口</a></li>
                    <li><a id="rout">配置路由</a></li>
                    <li><a id="edit">编辑ACL</a></li>
                    <li><a id="conf">配置ACL</a></li>
                    <li><a id="pi">Ping</a></li>
                    <li><a id="com">控制台</a></li>
                </ul>
            </div>
        </div>

        <div class="admin-content">
            <div style="width: 70%; margin: 100px auto">
                <h1>编辑ACL</h1>
                <br>
                <div class="am-tabs" data-am-tabs>
                    <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="#tabStandard">标准</a></li>
                        <li><a href="#tabExtended">扩展</a></li>
                    </ul>

                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-fade am-in am-active" id="tabStandard"></div>
                        <div class="am-tab-panel am-fade" id="tabExtended"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/router.js"></script>
        <script src="/js/edit.js"></script>
    </body>
</html>