<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>连接</title>
        <link rel="stylesheet" href="/css/amazeui.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/telnet.css">
        <script src="/js/amaze/jquery-3.3.1.js"></script>
        <script src="/js/amaze/amazeui.min.js"></script>
    </head>

    <body>
        <div class="topology">
            <div id="routerA" class="hide"></div>
            <div id="routerB" class="hide"></div>
            <div id="routerC" class="hide"></div>
        </div>
        <div class="login">
            <h1 style="margin-top: 10px">通过Telnet连接到控制端</h1>
            <br>
            <input id="ip" type="text" class="am-form-field" placeholder="IP" style="width: 50%; margin: auto; font-size: 20px">
            <br>
            <input id="password" type="password" class="am-form-field" placeholder="telnet密码" style="width: 50%; margin: auto; font-size: 20px">
            <br>
            <input id="enable" type="password" class="am-form-field" placeholder="enable密码" style="width: 50%; margin: auto; font-size: 20px">
            <br>
            <input id="router" type="text" class="am-form-field" placeholder="路由器名" style="width: 50%; margin: auto; font-size: 20px">
            <br>
            <button id="telnet" type="button" class="am-btn am-btn-secondary" style="font-size: 15px">连接</button>
        </div>
        <script src="/js/telnet.js"></script>
    </body>
</html>